@model PizzaBox.Client.Models.PizzaViewModel

<form asp-controller="user" asp-action="placeorder" method="post">
  <select asp-for="@Model.Crust">
    @foreach (var crust in @Model.Crusts)
    {
    <option value="@crust.Name">@crust.Name</option>
    }
  </select>
  <select asp-for="@Model.Size">
    @foreach (var size in @Model.Sizes)
    {
      <option value="@size.Name">@size.Name</option>
    }
  </select>
  @foreach (var topping in @Model.Toppings)
  {
    <input type="checkbox" name="selectedtoppings" id="selectedtoppings" value="@topping.Name">
    <label for="selectedtoppings">@topping.Name</label>
  }

  <section><button type="submit">Place Order</button></section>
</form>