@model PizzaBox.Client.Models.OrderViewModel


<section>
    <h2>Pizza List</h2>
    <ul>
        @foreach (var pizza in @Model.Pizzas)
        {
            <li>
                <label>@pizza.Crust.Name</label>
                <label>@pizza.Size.Name</label>
                @foreach (var topping in @pizza.Toppings)
                {
                    <label>@topping.Name</label>
                }
                <label>@pizza.PizzaPrice</label>
            </li>
        }
    </ul>
</section>
<section>
    <h2>Option Menu</h2>
     <ul>
        <li><a asp-controller="order" asp-action="start">Add Pizza</a></li> 
        <li><a asp-controller="user" asp-action="checkout">Place Order</a></li>
    </ul>
</section>